section{
    width: 100%;
    margin: auto;
    height: 100vh;
    padding-top: 4rem;
}
nav{
    background-color: rgba(255, 255, 255, 0.4);
    font-weight: 700;
}
nav .nav-link{
    color: grey;
}
#snack1{
    background-color: #FAD684;
}
#snack2{
    background-color: #FA6BA9;
}
#snack3{
    background-color: #86FC8A;
}
#snack4{
    background-color: #5F90FA;
}
#snack2 div {
    margin: 0 auto;
    width: 80%;
}
#snack3 button{
    font-weight: 600;
    color: #5F90FA;
    border-color: #5F90FA;

}
#howMany, #valMax{
 background-color: #FAD684;
}
#lists {
    background-color: rgba(255, 255, 255, 0.4);

    border-radius: .5rem;
}